@page "/inquiries"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Project.Domain
@using Project.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Project.Data.ProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="inquiries/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Inquiry">
    <PropertyColumn Property="inquiry => inquiry.Question" />
    <PropertyColumn Property="inquiry => inquiry.Date" />
    <PropertyColumn Property="inquiry => inquiry.UserId" />

    <TemplateColumn Context="inquiry">
        <a href="@($"inquiries/edit?inquiryid={inquiry.InquiryId}")">Edit</a> |
        <a href="@($"inquiries/details?inquiryid={inquiry.InquiryId}")">Details</a> |
        <a href="@($"inquiries/delete?inquiryid={inquiry.InquiryId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
