@page "/organizations"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Project.Domain
@using Project.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Project.Data.ProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="organizations/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Organization">
    <PropertyColumn Property="organization => organization.Name" />
    <PropertyColumn Property="organization => organization.Address" />

    <TemplateColumn Context="organization">
        <a href="@($"organizations/edit?organizationid={organization.OrganizationId}")">Edit</a> |
        <a href="@($"organizations/details?organizationid={organization.OrganizationId}")">Details</a> |
        <a href="@($"organizations/delete?organizationid={organization.OrganizationId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
