@page "/pets"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Project.Domain
@using Project.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Project.Data.ProjectContext> DbFactory

@attribute [Authorize(Roles = "Administrator, User")]

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="pets/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Pet">
    <PropertyColumn Property="pet => pet.Name" />
    <PropertyColumn Property="pet => pet.Age" />
    <PropertyColumn Property="pet => pet.Species" />
    <PropertyColumn Property="pet => pet.Colour" />
    <PropertyColumn Property="pet => pet.Gender" />
    <PropertyColumn Property="pet => pet.OrganizationId" />

    <TemplateColumn Context="pet">
        <a href="@($"pets/edit?petid={pet.PetId}")">Edit</a> |
        <a href="@($"pets/details?petid={pet.PetId}")">Details</a> 
        <AuthorizeView Roles= "Administrator">
          |  <a href="@($"pets/delete?petid={pet.PetId}")">Delete</a>
        </AuthorizeView>
    </TemplateColumn>
</QuickGrid>

@code {
    private ProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
