@page "/adoptionhistories/create"
@using Microsoft.EntityFrameworkCore
@using Project.Domain
@inject IDbContextFactory<Project.Data.ProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>AdoptionHistory</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="AdoptionHistory" OnValidSubmit="AddAdoptionHistory" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="date" class="form-label">Date:</label> 
                <InputDate id="date" @bind-Value="AdoptionHistory.Date" class="form-control" /> 
                <ValidationMessage For="() => AdoptionHistory.Date" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="userid" class="form-label">UserId:</label> 
                <InputNumber id="userid" @bind-Value="AdoptionHistory.UserId" class="form-control" /> 
                <ValidationMessage For="() => AdoptionHistory.UserId" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="petid" class="form-label">PetId:</label> 
                <InputNumber id="petid" @bind-Value="AdoptionHistory.PetId" class="form-control" /> 
                <ValidationMessage For="() => AdoptionHistory.PetId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/adoptionhistories">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private AdoptionHistory AdoptionHistory { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddAdoptionHistory()
    {
        using var context = DbFactory.CreateDbContext();
        context.AdoptionHistory.Add(AdoptionHistory);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/adoptionhistories");
    }
}
