@page "/adoptionhistories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Project.Domain
@using Project.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Project.Data.ProjectContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="adoptionhistories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.AdoptionHistory">
    <PropertyColumn Property="adoptionhistory => adoptionhistory.Date" />
    <PropertyColumn Property="adoptionhistory => adoptionhistory.UserId" />
    <PropertyColumn Property="adoptionhistory => adoptionhistory.PetId" />

    <TemplateColumn Context="adoptionhistory">
        <a href="@($"adoptionhistories/edit?adoptionhistoryid={adoptionhistory.AdoptionHistoryId}")">Edit</a> |
        <a href="@($"adoptionhistories/details?adoptionhistoryid={adoptionhistory.AdoptionHistoryId}")">Details</a> |
        <a href="@($"adoptionhistories/delete?adoptionhistoryid={adoptionhistory.AdoptionHistoryId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ProjectContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
